.descr {
    
    min-height: 782px;
    background: url(../media/img/background_descr.png) center center/cover no-repeat;

    &__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h1 {
            color: #FFF;
            font-family: 'Open Sans';
            font-size: 44px;
            font-weight: 700;
            text-transform: uppercase;
            max-width: 747px;
            margin-top: 125px;
            line-height: 1.5;
        }

        p {
            color: #FFF;
            font-size: 25px;
            max-width: 502px;
            margin-top: 30px;
        }

        &_btn {
            margin-top: 54px;
            display: flex;

            &_item {
                width: 371px;
                height: 75px;
                padding: 10px;
                border-radius: 15px;
                background: #FF9458;
                color: #FFF;
                font-size: 20px;
                font-weight: 600;
                margin-right: 25px;
            }

            &_whatsApp {
                width: 384px;
                height: 75px;
                border-radius: 15px;
                background: #FFF;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    color: #252525;
                    font-weight: 500;
                    margin: 0;
                    margin-right: 10px;
                }
            }
        }

        &_advantages {

            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1180px;
            border-radius: 20px;
            background: #FFF;
            margin-top: 75px;
            padding: 30px;
            margin-bottom: 80px;

            &_line {
                width: 2px;
                height: 50px;
                background: #DDD;
            }

            &_item {

                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 380px;

                img {
                    border-radius: 10px;
                    margin-right: 20px;
                    object-fit: contain;
                }

                p {
                    font-size: 20px;
                    color: #000;
                    font-weight: 500;
                    margin: 0;
                }
            }
        }
    }
}
