.history {

    &__item {
        padding: 30px;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        max-width: 1100px;
        &-one {
            position: relative;
            background: #252525;
            z-index: 1;
        }
        &-two {
            background: #FF9458;
            margin-left: 50px;
            margin-top: -10px;
        }
        

        &_img {
            border-radius: 15px;
            &-one{
                width: 397px;
                height: 343px;
            }
            &-two{
                width: 392px;
                height: 356px;
            }
        }

        &_descr {
            color: #FFF;
            font-family: Gilroy;
            font-size: 22px;
            font-weight: 400;
            line-height: normal;
            max-width: 580px;
            align-self: center;
        }
    }
}


