.section_scheme {
    background: url('../media/img/scheme-backgr.png') center center/cover no-repeat;
}

.scheme {
    position: relative;
    padding: 35px 0;
    &__line {
        position: absolute;
        z-index: -1;
        margin-top: 170px;
    }
    &__btn {
        position: absolute;
        &-prew {
            width: 39px;
            height: 39px;
            background: #252525;
            border-radius: 50px;
            left: -70px;
            top: 50%;
            transform: translateY(-50%);
        }
        &-next {
            width: 39px;
            height: 39px;
            background: #252525;
            border-radius: 70px;
            right: -90px;
            top: 50%;
            transform: translateY(-50%);
        } 
        
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        column-gap: 90px;
        row-gap: 60px;
        margin-top: 50px;

        &_el {

            max-width: 292px;

            &-width {
                width: 394px;
            }
            
            p {
                margin-top: 20px;
                font-weight: 500;
            }
            button {
                width: 309px;
                height: 75px;
                padding: 10px;
                border-radius: 15px;
                background: #FF9458;
                color: #FFF;
                font-weight: 600;
                border: none;
                font-size: 20px;
                margin-top: 30px;
            }
        }
    }
}
